html,body {
background: red;
height: 100%;
width: 100%;

}

a{
 color: black;
	display:block;
	margin: 0 auto;
	padding-bottom: 10;
	padding-top: 10;
	text-decoration: none;
	text-align: center;
	
	
}

div a:hover{
	background: white;
	
	
}